:root {
  --primary: #814e2b;
  --primary-focus: #734424;
}

/*--fonts--*/
.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.font-archivo {
  font-family: "Archivo", sans-serif !important;
}

/*Component*/
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--primary-focus) !important;
}

/*--navbar--*/
.active {
  color: var(--primary) !important;
}

.nav-link:hover {
  color: var(--primary) !important;
}
